
README.html
*.Rhistory
*.rds
paper/bibliography.bib
paper/Figures/.DS_Store
paper/paper.aux
paper/paper.bbl
paper/paper.blg
paper/paper.fdb_latexmk
paper/paper.fls
paper/paper.lof
paper/paper.log
paper/paper.lot
paper/paper.out
paper/paper.synctex.gz
paper/paper.toc
paper/paper_oup.aux
paper/paper_oup.blg
paper/paper_oup.fdb_latexmk
paper/paper_oup.fls
paper/paper_oup.log
paper/paper_oup.out
paper/paper_oup.synctex.gz
*.gz
